<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzeng.qf.dao.FeedbackDao">
    <sql id="BASE_TABLE">
        qf_feedback
    </sql>
    <sql id="BASE_COLUMN">
        feedback_id,user_id,supplier_id,task_id,choose,one_amount,one_delivery,two_amount,
        two_delivery,three_amount,three_delivery,postage,is_return,supplement,one_image,two_image,
        three_image,update_time,create_time,status
    </sql>

    <select id="queryFeedbackByUserId" resultType="com.yzeng.qf.pojo.model.FeedbackDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        user_id = #{user_id, jdbcType=INTEGER} and status = #{status, jdbcType=INTEGER}
    </select>

    <update id="updateFeedbackStatus">
        UPDATE
        <include refid="BASE_TABLE"/>
        set status = #{status, jdbcType=INTEGER}
        WHERE feedback_id = #{feedback_id, jdbcType=INTEGER}
    </update>

</mapper>