<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzeng.qf.dao.UserDao">
    <sql id="BASE_TABLE">
        qf_users
    </sql>
    <sql id="BASE_COLUMN">
        user_id,username,password,nickname,gender,phone,email,level,role,create_time,status
    </sql>

    <insert id="addUser" parameterType="com.yzeng.qf.pojo.model.UserDomain">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,username,password,nickname,gender,phone,email,level,role,create_time,status
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{user_id, jdbcType=INTEGER},#{username, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},#{nickname, jdbcType=VARCHAR},
            #{gender, jdbcType=INTEGER}, #{phone, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR}, #{level, jdbcType=INTEGER},#{role, jdbcType=INTEGER},
            #{create_time, jdbcType=VARCHAR},#{status ,jdbcType=INTEGER}
        </trim>
    </insert>

    <update id="updateUserInfo" parameterType="com.yzeng.qf.pojo.model.UserDomain">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="password != null">
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="screenName != null">
                screenName = #{screenName, jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email, jdbcType=VARCHAR},
            </if>
        </set>
        WHERE user_id = #{user_id, jdbcType=INTEGER}
    </update>

    <select id="getUserInfoById" resultType="com.yzeng.qf.pojo.model.UserDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        user_id = #{user_id, jdbcType=INTEGER}
    </select>

    <select id="getUserInfoByName" resultType="com.yzeng.qf.pojo.model.UserDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE username = #{username, jdbcType=VARCHAR}
    </select>

    <select id="queryUserByName" resultType="com.yzeng.qf.pojo.model.UserDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE username = #{username, jdbcType=VARCHAR}
    </select>

</mapper>